<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Coursify: Transforming Education One Course at a Time </h1>
        <ul>
            {% for course in courses %}
            <li><a href="/videos/{{ course[0] }}">{{ course[1] }}</a></li>
            {% endfor %}
        </ul>
        <a href="/add_course">Add Course</a>
    </div>
</body>
</html>
